@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  --beige: #eee;
  --primary: #3A7563;
  --secondary: #A7C4BC;
  --background: var(--beige);
  --text: #000;
}

.wrapper.dark {
  --primary: #3A7563;
  --secondary: #303E27;
  --background: #212125;
  --text: var(--beige);
}

html {
  scroll-behavior: smooth;
}

.logo:hover .letter {
  animation: bounce 0.3s ease alternate;
}

.logo:hover .letter:nth-child(1) {
  animation-delay: 0.1s;
}

.logo:hover .letter:nth-child(2) {
  animation-delay: 0.2s;
}

.logo:hover .letter:nth-child(3) {
  animation-delay: 0.3s;
}

.logo:hover .letter:nth-child(4) {
  animation-delay: 0.4s;
}

.logo:hover .letter:nth-child(5) {
  animation-delay: 0.5s;
}

.logo:hover .letter:nth-child(6) {
  animation-delay: 0.6s;
}

.logo:hover .letter:nth-child(7) {
  animation-delay: 0.7s;
}

.logo:hover .letter:nth-child(8) {
  animation-delay: 0.8s;
}


nav ul li a.active:before,
nav ul li a.active:after,
nav ul li:hover a:before,
nav ul li:hover a:after {
  width: 100%;
}

@keyframes bounce {
  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

section {
  scroll-margin-top: 4rem;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

#wrapper {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  #wrapper {
    min-height: -webkit-fill-available;
  }
}

#MobileNavToggle:not(.open) span:first-child {
  transform: rotate(0deg);
}

#MobileNavToggle:not(.open) span:nth-child(2) {
  opacity: 100;
}

#MobileNavToggle:not(.open) span:nth-child(3) {
  transform: rotate(-0deg);
  top: 1.25rem;
}

#MobileNavToggle.open span:first-child {
  transform: rotate(135deg);
  top: 0.75rem;
}

#MobileNavToggle.open span:nth-child(2) {
  opacity: 0;
  left: -10rem;
}

#MobileNavToggle.open span:nth-child(3) {
  transform: rotate(-135deg);
  top: 0.75rem;
}

#MobileNav:not(.open) {
  transform: translateX(100%);
}

#MobileNav.open {
  transform: translateX(0);
}
